// styles in src/style directory are applied to the whole page

@font-face {
    font-family: 'Albertus Medium';
    src: 
        local('Albertus Medium'),
        url('/src/assets/fonts/Albertus Medium Regular.woff') format('woff');
}

body {
    font-family: "Albertus Medium", sans-serif;
    margin: 0;
}

